<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/layout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<br>
<br>

<div class="container" style="margin-top:1%; margin-left:20%; padding:10%">

    <div class="row">
        <div class="col-5 " style=" padding-left: 100px;">
        <h1 class="text-center">
            Incorrect_Login

        </h1>

        <button type="submit" class="btn btn-dark" style="background: #644867;">
            <a href="/register" style="color:white;text-decoration:none" class="text-center" > Register here</a>
        </button>
        </div>
    </div>
    <div class="col-3">
        <img src="https://media.istockphoto.com/vectors/error-message-on-laptop-screen-crash-error-failure-of-the-system-flat-vector-id1198942930?k=6&m=1198942930&s=612x612&w=0&h=rYam309yuWxVeGLc5AJbseZXiuFn5Gty04LjBjk_xsg=" alt="" height="400">
    </div>

</div>


</body>

</html>